* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
}

:root {
  --colorgray: #a7a7a7;
  --colordarkblue: #42446e;
  --fontcolor: #666666;
  --font: "DM Sans", sans-serif;
  --gradient-main: linear-gradient(90deg, #13b0f5, #e70faa);
}

.dark-mode {
  background-color: #191919;
  color: white;
}
/* nav  */
.main-header {
  text-align: center;
  display: flex;
  justify-content: center;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 1193px;
  height: 59px;
  margin-top: 100px;
  box-sizing: border-box;
}

.nav-main-left-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-logo {
  width: 100px;
}

.nav-logo-img {
  width: 100px;
}

.icon-hamburger {
  display: none;
  height: 25px;
  width: 25px;
}

.main-nav-links {
  max-width: 609px;
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 50px;
}
.main-nav-links a {
  color: var(--fontcolor);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.nav-main-right-img {
  gap: 20px;
  margin-right: 20px;
  width: 130px;
  height: 32px;
  justify-content: space-between;
  display: flex;
}

.nav-icon {
  width: 30px;
  height: 29.26px;
}

#my-links {
  display: none;
  flex-direction: column;
  gap: 10px;
}

#my-links.show {
  display: flex;
}

#my-links a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.icon-hamburger {
  cursor: pointer;
}

.nav-dark-mode-btn {
  display: flex;
}

.nav-dark-mode {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-icon-moon {
  height: 22.26px;
}

.nav-dark-mode svg {
  color: black;
  width: 20px;
  height: 20px;
  transition: color 0.3s ease;
}

body.dark-mode .nav-dark-mode svg {
  color: white;
}

@media (max-width: 900px) {
  .main-nav {
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  .nav-main-left-img {
    display: flex;
    align-self: flex-start;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    align-items: center;
  }

  .main-nav-links {
    flex-direction: column;
    height: 200px;
    max-width: none;
    padding: 15px;
    box-sizing: border-box;
  }

  .nav-main-right-img {
    margin-right: 0;
    margin-top: 10px;
    max-width: 300px;
    width: 100%;
  }

  .icon-hamburger {
    display: block;
  }

  .main-nav-links {
    display: none;
  }

  .nav-main-right-img {
    display: none;
  }

  .nav-dark-mode-btn {
    display: none;
  }
}

@media (min-width: 900px) {
  .icon-hamburger {
    display: none;
  }

  .show {
    display: none !important;
  }
}

/* nav */
/* main */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 35px;
  margin-bottom: 300px;
}

.contact-p {
  font-size: 35px;
}
.contact-title,
.contact-p {
  color: var(--colordarkblue);
  font-size: clamp(1rem, 5vw, 3rem);
}

.contact-gradient,
.contact-nummer {
  font-size: clamp(1rem, 5vw, 3rem);
  background: var(--gradient-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* main  */
/* footer */
.footer-main {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: "DM Sans", sans-serif;
}

.footer-content {
  gap: 10px;
  color: #a7a7a7;
}

.footer-gradient {
  background: var(--gradient-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer */
