* {
  margin: 0;
  padding: 0;
}

:root {
  --font: "DM Sans", sans-serif;
  --gradient-main: linear-gradient(90deg, #13b0f5, #e70faa);
  --fontcolor: #666666;
  --colordarkblue: #42446e;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
}

.dark-mode {
  background-color: #191919;
  color: white;
}
/* nav  */
.main-header {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.nav-main {
  display: flex;
  align-items: center;
  width: 1193px;
  height: 59px;
  margin-top: 100px;
  box-sizing: border-box;
}

.nav-main-left-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-logo {
  width: 100px;
}

.icon-hamburger {
  display: none;
  height: 25px;
  width: 25px;
}

.nav-main-links {
  max-width: 609px;
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 50px;
}
.nav-main-links a {
  color: var(--fontcolor);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.nav-main-right-img {
  gap: 20px;
  margin-right: 20px;
  width: 130px;
  height: 32px;
  justify-content: space-between;
  display: flex;
}

.nav-icon {
  width: 30px;
  height: 29.26px;
}

#my-links {
  display: none;
  flex-direction: column;
  gap: 10px;
}

#my-links.show {
  display: flex;
}

#my-links a {
  color: var(--fontcolor);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.icon-hamburger {
  cursor: pointer;
}

.nav-dark-mode-btn {
  display: flex;
}

.nav-dark-mode {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-icon-moon {
  height: 22.26px;
}

.nav-dark-mode svg {
  color: black;
  width: 20px;
  height: 20px;
  transition: color 0.3s ease;
}

body.dark-mode .nav-dark-mode svg {
  color: white;
}

@media (max-width: 900px) {
  .nav-main {
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  .nav-main-left-img {
    display: flex;
    align-self: flex-start;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    align-items: center;
  }

  .nav-main-links {
    flex-direction: column;
    height: 200px;
    max-width: none;
    padding: 15px;
    box-sizing: border-box;
  }

  .nav-main-right-img {
    display: none;
  }

  .icon-hamburger {
    display: block;
  }

  .nav-main-links {
    display: none;
  }

  .nav-dark-mode-btn {
    display: none;
  }
}

@media (min-width: 900px) {
  .icon-hamburger {
    display: none;
  }

  .show {
    display: none !important;
  }
}

/* nav */

/* main */

main {
  display: flex;
  justify-content: center;
}

.projects-main {
  max-width: 532px;
  box-sizing: border-box;
  margin: 0 20px 0 20px;
}
.projects-title-main {
  font-size: 40px;
  color: var(--colordarkblue);
}
.projects-title-under {
  margin: 10px 0 60px 0;
  font-size: 20px;
  font-weight: 400;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.projects {
  border-radius: 29px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.199);
}

.project-title,
.project-text,
.project-text-tech,
.project-down-links {
  padding: 16px;
}

.project-text-tech {
  font-weight: 500;
}
.project-title {
  font-size: 20px;
}
.project-text {
  color: var(--fontcolor);
}

.project-down-links {
  display: flex;
  justify-content: space-between;
}

.projects-live-left,
.projects-code-right {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.projects-code-right a,
.projects-live-left a {
  color: inherit;
}

.projects-img-box {
}

.projects-img {
  object-fit: cover;
  width: 100%;
}

@media (min-width: 900px) {
  .projects {
    max-width: 373px;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
  }

  .projects-main {
    max-width: 1300px;
    margin: 0;
  }
}

@media (max-width: 900px) {
  .projects-title-under {
    display: none;
  }

  .projects-title-main {
    margin-bottom: 50px;
  }
}
/* main */
/* footer */
.footer-main {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: "DM Sans", sans-serif;
}

.footer-content {
  gap: 10px;
  color: #a7a7a7;
}

.footer-gradient {
  background: var(--gradient-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer */
