* {
  margin: 0;
  padding: 0;
}

:root {
  --font: "DM Sans", sans-serif;
  --gradient-main: linear-gradient(90deg, #13b0f5, #e70faa);
  --fontcolor: #666666;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
}
main {
  justify-content: center;
  display: flex;
}

.dark-mode {
  background-color: #191919;
  color: white;
}

/* nav  */
.main-header {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.nav-main {
  display: flex;
  align-items: center;
  width: 1193px;
  height: 59px;
  margin-top: 100px;
  box-sizing: border-box;
}

.nav-main-left-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-logo {
  width: 100px;
}

.icon-hamburger {
  display: none;
  height: 25px;
  width: 25px;
}

.nav-main-links {
  max-width: 609px;
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 50px;
  align-items: center;
}
.nav-main-links a {
  color: var(--fontcolor);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.nav-main-right-img {
  gap: 20px;
  margin-right: 20px;
  width: 130px;
  height: 32px;
  justify-content: space-between;
  display: flex;
}

.nav-icon {
  width: 30px;
  height: 29.26px;
}

#my-links {
  display: none;
  flex-direction: column;
  gap: 10px;
}

#my-links.show {
  display: flex;
}

#my-links a {
  color: var(--fontcolor);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.icon-hamburger {
  cursor: pointer;
}

.nav-dark-mode-btn {
  display: flex;
}

.nav-dark-mode {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-icon-moon {
  height: 22.26px;
}

.nav-dark-mode svg {
  color: black;
  width: 20px;
  height: 20px;
  transition: color 0.3s ease;
}

body.dark-mode .nav-dark-mode svg {
  color: white;
}

@media (max-width: 900px) {
  .nav-main {
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  .nav-main-left-img {
    display: flex;
    align-self: flex-start;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    align-items: center;
  }

  .nav-main-links {
    flex-direction: column;
    height: 200px;
    max-width: none;
    padding: 15px;
    box-sizing: border-box;
  }

  .nav-main-right-img {
    display: none;
  }

  .icon-hamburger {
    display: block;
  }

  .nav-main-links {
    display: none;
  }

  .nav-dark-mode-btn {
    display: none;
  }
}

@media (min-width: 900px) {
  .icon-hamburger {
    display: none;
  }

  .show {
    display: none !important;
  }
}

/* nav */

/* section logos */

.logos-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1193px;
  width: 100%;
  margin-bottom: 200px;
}
.logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-bottom: 50px;
}

.logo,
.logo-extra {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.logo img {
  height: 70px;
}

.logos-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  justify-content: start;
  align-items: center;
}

.logo-title {
  margin-bottom: 20px;
}

.logo-text {
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .logo img {
    height: 100px;
  }

  .logo-title,
  .logo-text {
    display: none;
  }

  .logos,
  .logos-2 {
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  }

  .logo-extra {
    display: flex;
  }
  .logos-2 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .logo-extra {
    display: none;
  }
}

/* section logos */

/* footer */
.footer-main {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: "DM Sans", sans-serif;
}

.footer-content {
  gap: 10px;
  color: #a7a7a7;
}

.footer-gradient {
  background: var(--gradient-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer */
