* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
}

.main-about {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
}

:root {
  --colorgray: #a7a7a7;
  --colordarkblue: #42446e;
  --fontcolor: #666666;
  --font: "DM Sans", sans-serif;
  --gradient-main: linear-gradient(90deg, #13b0f5, #e70faa);
}

.dark-mode {
  background-color: #191919;
  color: white;
}
/* nav  */
.main-header {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav-main {
  display: flex;
  align-items: center;
  width: 1193px;
  height: 59px;
  margin-top: 100px;
  box-sizing: border-box;
}

.nav-main-left-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-logo {
  width: 100px;
}

.nav-logo-img {
  width: 100px;
}

.icon-hamburger {
  display: none;
  height: 25px;
  width: 25px;
}

.nav-main-links {
  max-width: 609px;
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 50px;
}
.nav-main-links a {
  color: var(--fontcolor);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.nav-main-right-img {
  gap: 20px;
  margin-right: 20px;
  width: 130px;
  height: 32px;
  justify-content: space-between;
  display: flex;
}

.nav-icon {
  width: 30px;
  height: 29.26px;
}

#my-links {
  display: none;
  flex-direction: column;
  gap: 10px;
}

#my-links.show {
  display: flex;
}

#my-links a {
  color: var(--font);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.icon-hamburger {
  cursor: pointer;
}

.nav-dark-mode {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-icon-moon {
  height: 22.26px;
}

.nav-dark-mode-btn {
  display: flex;
}

.nav-dark-mode {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.nav-icon-moon {
  height: 22.26px;
}

.nav-dark-mode svg {
  color: black;
  width: 20px;
  height: 20px;
  transition: color 0.3s ease;
}

body.dark-mode .nav-dark-mode svg {
  color: white;
}

@media (max-width: 900px) {
  .nav-main {
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  .nav-main-left-img {
    display: flex;
    align-self: flex-start;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    align-items: center;
  }

  .nav-main-links {
    flex-direction: column;
    height: 200px;
    max-width: none;
    padding: 15px;
    box-sizing: border-box;
  }

  .nav-main-right-img {
    margin-right: 0;
    margin-top: 10px;
    max-width: 300px;
    width: 100%;
  }

  .icon-hamburger {
    display: block;
  }

  .nav-main-links {
    display: none;
  }

  .nav-main-right-img {
    display: none;
  }

  .nav-dark-mode-btn {
    display: none;
  }
}

@media (min-width: 900px) {
  .icon-hamburger {
    display: none;
  }

  .show {
    display: none !important;
  }
}

/* nav */

/* main  */
.content-main {
  width: 1193px;
}

.content-holder {
  max-width: 708px;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about p {
  font-size: 18px;
  color: var(--colordark);
  line-height: 26px;
}

.education-top,
.experience-company,
.experience-date,
.experience-down-holder,
.experience-role-top,
.education-down {
  display: flex;
  justify-content: space-between;
}

.experience-company-left,
.experience-date-right,
.education-company,
.education-date,
.experience-date-right,
.experience-company-down-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.experience-company-left {
  margin-right: 15px;
}

.icon-carbon,
.icon-location,
.icon-office {
  height: 21px;
  width: 16px;
}

.experience-item,
.education-item {
  border-bottom: rgba(128, 128, 128, 0.479) solid 1px;
}

.h1-content-main {
  font-size: 42px;
  color: var(--colordarkblue);
  font-weight: 900;
  padding: 30px 0 10px;
  line-height: 52px;
  letter-spacing: -0.4px;
  margin: 0;
}

.p-content-main {
  font-size: 20px;
  margin: 0;
  color: var(--colordark);
  align-items: center;
  display: flex;
}
.p-content-down {
  color: var(--colorgray);
  font-size: 12px;
  margin: 0;
}

.experience-down-holder,
.education-down {
  padding: 0 0 25px 0;
}

.experience-role-top {
  padding: 25px 0 0 0;
}

.experience-top-right {
  background-color: #d7ffe0;
  color: #018c0f;
  height: 24px;
  width: 84px;
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 9px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .content-holder {
    padding: 20px;
  }

  .br {
    display: none;
  }

  .main-about {
    margin-bottom: 0;
  }
}

/* main */

/* footer */
.footer-main {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: "DM Sans", sans-serif;
}

.footer-content {
  gap: 10px;
  color: #a7a7a7;
}

.footer-gradient {
  background: var(--gradient-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer */
